<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.darkfog.ai.symbiosis.assistant">

    <application
        android:name=".foundation.arch.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        <activity android:name="cn.darkfog.ai.symbiosis.assistant.MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="24646193"/>

        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="iMHM7stDaowxEbBrWLwNZZ8F"/>
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="sekUpue2a2BliKc3H9w5SHVWkyBIK9aa"/>

    </application>

</manifest>